.project
compile_commands.json
.tmp_versions
Module.symvers
modules.order
.nvmeib*
*.ko
*.o
*.o_shipped
*.mod.c
b.sh
rb.sh
run.sh
management.tgz
node.tgz
client.tgz
install-management.ses.sh
install-node.ses.sh
install-client.ses.sh
build_sh_conf
*.build_sh_conf
toma/nvmeibt_local_flags.h
*~
tools/trace_compress_lib/libcompress.a
tools/trace_compress_lib/test_*
nvmeib.vpw
nvmeib.vpwhistu
nvmeib.vtg
nvmeib.vpj
.cproject
.settings
nvmeibt_toma
build_remote.sh
clnt/block/unitest/out.txt
clnt/block/unitest/nvmeibc.trace.json.cksum
clnt/block/unitest/traces_ids.c
clnt/block/unitest/build/
*.pyc
*.d
.editorconfig
.python-version
.ropeproject/*
!init.d/
!system.d/
testing/test_mcs/mcs_acme
testing/test_mcs/struct
testing/test_mcs/tags
testing/test_mcs/*.msg
.next/
.idea/
/dist/
/build/
/build-*/
cmake-build-*/
tags
autogen/clnt/
autogen/common/
autogen/srv/
autogen/toma/
GPATH
GRTAGS
GTAGS
__pycache__/
.mypy_cache/
*.pyc
*.log
tests/messages
.DS_Store
**/.DS_Store
contents.xcworkspacedata
IDEWorkspaceChecks.plist
nvmeib.drs.code-workspace
project.pbxproj
UserInterfaceState.xcuserstate
xcschememanagement.plist
*.i
*gen_events.h
gen_lttng_events.h
*.trace.json
dict.*.json
dictionaries.tar.gz
tools/tracer_pp
tools/**/*.tab.*
tools/**/*.yy.*
*.binlog*.*
*.txtlog*.*
*binlog
*txtlog
*.h.gch
compilation_cmd.txt
*.md5
tools/traces_post_processor/cpager
tools/traces_post_processor/merge_trace
tools/traces_post_processor/formatters/libfmtrs.so
tools/traces_post_processor/formatters/test
*.gcov
*.gcda
*.gcno
.gitreview
cscope*
.gutctags
management
.venv
.cache/
*/.cache/
.config
autogen/.mcs.tr
autogen/.subdirs.tr
build_lr.sh
build_sh_conf.*
*.cmd
*.S
*.mod
*.cksum
compile_commands.json*
*.rpm
perfTest/io_stress/cmp_blocks/cmp_blocks
perfTest/io_stress/manual_fops/manual_fops
perfTest/io_stress/aio_in_air
perfTest/io_stress/di_parser/parse_block
perfTest/io_stress/di_parser/dbgdi_log_test
perfTest/io_stress/scan_locks/scan_locks_ec
perfTest/io_stress/gen_md/gen_md
tools/infra_shared/infra_shared_test
toma/bin/
tools/toma_rpc/toma_rpc
tools/trace_daemon_2.0/trace_daemon
*.o.json
*.so
infra_shared.so
nvmeib_pipe_tracer
traces_ids.h
traces_ids.c
*.xz
*/.trace_pp_dir
toma/trace
toma/trace
clnt/toma
.clang-tidy
version
bin/nvmesh_client_instance_doc
bin/nvmesh_clnt_shutdownc
bin/nvmesh_gen_symversc
monitor/nvmesh_exporter/nvmesh_exporter
nvmesh_dp_lib
nvmesh_dp_lib.a
core_unitest/testclnt
tools/miniscrub/miniscrub_test
.python-version
.ropeproject/
memmgr_info_run_end.json
*.a
*.so.*
*.so
lz4
test.pet
io_pet_messages.binlog
io_pet_messages.txtlog
error_tags_run_end.json
common/pet/build/
!azure/modprobe.d
!clnt/block/datapath_ec/nvmeibc_block_dp_ec_gf_asm.o
!config/nvmesh.conf.d
!depmod.d
!modprobe.d
!rules.d
!testing/rdma/kernel/excludes
!toma/toma.d
!tools/lz4
