SW_VER=310
+ param raft_leader_heartbeat_timeout_usec 20000
+ param mgmt_keep_alive_secs 1
+ param mgmt_leader_keep_alive_secs 1
+ param max_wait_for_non_registrable_seg_sec 5
+ is_zeroing_using_test_and_write 1
+ is_zeroing_mandatory 0
+ is_secure_erase_after_disk_format 1
+ is_using_nvme_trim_before_zero 1
+ delete_ns_when_formatting 0
+ reset_after_format 0
+ skip_reformat 0
+ ignore_metadata 0
+ force_metadata 0
+ force_512b 0
+ DISK_MODELS_PARAMS_V1_3_3 INTEL SSD_512TB,0,0,0,0
+ DISK_MODELS_PARAMS_V2_1:
+ DISK_MODELS_PARAMS_V2_1 INTEL SSDPF21Q016TB,1,0,1,1,0,0,1,0,0,0
