[include]
# Place here all the patterns for text names to explicity include in CI Tests that match any of these patterns will not be affected by the exclude section

[exclude]
# Place here all the patterns for text names to explicity include from CI Example: Uncomment the following to disable all serjio tests:
# These tests have some veeeeeery rare race conditions that cause failures. not 100% stable
unitest_segment_relocation_ec
unitest_EC_single_slice_async_pause_disks_no_errro
unitest_EC_single_slice_async_pause_disks_with_error
