# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: GPL-2.0-only OR Apache-2.0

[include]
# Place here all the patterns for text names to explicity include in CI
# Tests that match any of these patterns will not be affected by the
# exclude section
# Format: <test> [<number_of_repetitions>]
# If number_of_repetitions not mentioned or test not excluded and not included - the test will be executed 1 repetition. 
unitest_ECHotRecovery 100
unitest_ECColdRecovery 100
unitest_ECJgcRecovery 100

[exclude]
# Place here all the patterns for text names to explicity include from CI
# Example: Uncomment the following to disable all serjio tests:
#
# *serjio*
