[Unit]
Description=NVMesh(r) Agent
Wants=nvmeshcm.service
After=network.target openibd.service nvmeshcm.service
PartOf=nvmeshclient.service nvmeshum.service

[Service]
ExecStart=/opt/nvmesh/bin/managementAgent start
PIDFile=/var/run/nvmesh/managementAgent.pid
Type=forking
Restart=on-failure
RestartSec=5
StartLimitInterval=50
StartLimitBurst=5
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
