[Unit]
Description=NVIDIA NVMesh block storage metrics exporter

[Service]
ExecStart=/opt/nvmesh/monitor/nvmesh_exporter/nvmesh_exporter
Restart=always

[Install]
WantedBy=multi-user.target
