/_root/dev/nvme*
/_root/opt/nvmesh/common-repo/tools/toma_rpc.config
/_root/proc/nvmeibs/disks.csv
/_root/var/log/nvmesh/toma_2*
/_root/var/log/nvmesh/toma_leader_name
/_root/var/log/nvmesh/trace_daemon/toma.*
/_root/var/log/nvmesh/tracelist.txt
/_root/var/opt/nvmesh/.target_devices
/99bin/
